/*.aux
/*.dvi
/*.log
/*.out
/*.tmp
/*.toc
/*.bbl
/*.blg
/*.pdf
/*.wxm

/_region_*
/.Rhistory
/MajCycleModel.ilg
/MajCycleModel.nlo
/MajCycleModel.nls
/test1.html
/test1.html~
iPython/*.pyc


iPython/.ipynb_checkpoints/SKA1_Rebaselined_Performance_Model_PDR05-checkpoint.ipynb

iPython/formulae.pyc
