/*.aux
/*.dvi
/*.log
/*.out
/*.tmp
/*.toc
/*.bbl
/*.blg
/*.pdf
/*.wxm

*.pyc
*.orig
*.rej
*.stackdump

.ipynb_checkpoints
iPython/.ipynb_checkpoints
iPython/.idea
Google_Data

/_region_*
/.Rhistory
/MajCycleModel.ilg
/MajCycleModel.nlo
/MajCycleModel.nls
/test1.html
/test1.html~
iPython/*.pyc



iPython/.ipynb_checkpoints/SKA1_Rebaselined_Performance_Model_PDR05-checkpoint.ipynb

iPython/formulae.pyc

iPython/formulae.pyc

iPython/formulae.pyc

iPython/formulae.pyc

iPython/formulae.pyc

iPython/.ipynb_checkpoints/SKA1_Imaging_Performance_Model-checkpoint.ipynb

iPython/.ipynb_checkpoints/SKA1_Rebaselined_Performance_Model_PDR05-checkpoint.ipynb

*.pyc

iPython/api.pyc

iPython/api_ipython.pyc

iPython/env_setup.pyc

iPython/formulae.pyc

iPython/implementation.pyc

iPython/ipython_api.pyc

iPython/parameter_definitions.pyc
