*.pyc
*.orig
*.rej
*.stackdump

/.eggs
/*.egg-info
/_build
/docs/_build

/iPython/.ipynb_checkpoints
/iPython/out

.idea
@Historical
@Obsolete
legacy_code_comparison
scheduling/*.csv
scheduling/*.npz
scheduling/*.png

performance_dict.data